@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --Linear-gradient: hsl(249, 99%, 64%);
  --Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.purple-bacground {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 33%;
  background-image: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 550px;
  gap: 100px;
  position: relative;
}

.cards {
  width: 50%;
}

.card {
  height: 245px;
  width: 447px;
}

.front-card {
  background-image: url(images/bg-card-front.png);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--Light-grayish-violet)
}

.circles {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 30px;
}

.full-circle {
  height: 50px;
  filter: brightness(10);
}

.empty-circle {
  height: 20px;

}

#card-number {
  font-size: 2.2rem;
  margin-left: 30px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 30px 30px;
}

.card-date {
  display: flex;
}

.back-card {
  background-image: url(images/bg-card-back.png);
  position: absolute;
  bottom: 0;
}

.cvc-card {
  position: absolute;
  left: 360px;
  top: 110px;
  color: var(--Light-grayish-violet);
}